<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="index.css" rel="index" type="text/css">

</head>
<body>
<h1>Greet me</h1>

<form action="/hello" method="post" >
    <input type="text" name="username">




    <div>
        <input type ="radio" name="language" value="English">English</input>
        <input type ="radio" name="language" value="IsiZulu">IsiZulu</input>
        <input type ="radio" name="language" value="Xhosa">Xhosa</input>
        <input type ="radio" name="language" value="Sotho">Sotho</input>
    </div>

    <input type="submit" >




    <div>
        <ul>
            {{#each users}}
                <li>{{this}}</li>

            {{/each}}
        </ul>
    </div>
</form>

{{greeting}}
{{count}}
{{language}}

</body>
</html>