{{#partial "body"}}
    <h1>Hello App</h1>
       <a href="/hello">hello</a>

    <form method="post" action="/greet">
        <div>
            <input type="text" name="firstName">
        </div>
        <div class="counter">
            {{counter}}
        </div>
        <div class="language">
            <div>
                <input type="radio" name="language" value="afr">Afrikaans
            </div>
            <div>
                <input type="radio" name="language" value="eng">English
            </div>
            <div>
                <input type="radio" name="language" value="xhosa">Xhosa
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{{/partial}}

{{> layout.hbs }}




















